.teacher{
    padding: 50px 0 80px;
}

.teacher-block{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}
.teacher-block-img{
    width: 384px;
    min-width: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.teacher-block-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.teacher-block-info h2{
    font-size: 40px;
}
.teacher-block-info h2 span{
    display: block;
    color: rgba(244, 171, 30, 1);
    font-size: 25px;
    font-weight: 700;
    text-transform: initial;
}

.teacher-block-info ul{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 25px;
}
.teacher-block-info ul p{
    color: rgba(62, 59, 57, 0.7);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.teacher-block-info ul span{
    color: rgba(62, 59, 57, 1);
    display: inline-block;
    margin-left: 10px;
}
.teacher-block-info .btn{
    display: block;
    margin-top: 30px;
}

.shedule{
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    background: rgba(62, 59, 57, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.shedule-block{
    width: 90%;
    /* height: 487px; */
    background: rgba(250, 250, 250, 1);
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.shedule-block h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.shedule-block table{
    border-spacing: 0px;
}
.shedule-block table th{
    border-bottom: 1px solid rgba(62, 59, 57, 1);
    border-collapse: collapse;
    text-align: left;
    color: rgba(62, 59, 57, .5);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-right: 15px;
}

.shedule-block table td{
    border-top: 1px solid rgba(62, 59, 57, .3);
    padding: 15px 15px 15px 0;
    vertical-align: top;
    color: rgba(62, 59, 57, 1);
    font-size: 20px;
    font-weight: 500;
}
.shedule-block table td span{
    display: block;
}
@media (max-width: 900px){
   .shedule-block{
        width: 100%;
        padding: 20px;
   }
    .shedule-block h2{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .shedule-block table th{
        font-size: 16px;
    }
    .shedule-block table td{
        font-size: 16px;
    }
    
}
@media (max-width: 750px){
    .teacher{
        padding-bottom: 20px;
    }
    .teacher .breadcrumb ul{
        flex-wrap: wrap;
    }
    .teacher-block{
        flex-direction: column;
        position: relative;
        padding-top: 100px;
        gap: 20px;
    }
    .teacher-block-img{
        width: 100%;
        min-width: 0;
    }
    .teacher-block-info{
        margin-top: 0px;
        
    }
    .teacher-block h2{
        position: absolute;
        top: 0;
        left: 0;
        font-size: 22px;
    }
    .teacher-block h2 span{
        font-size: 16px;
    }
    .teacher-block-info ul{
        margin-top: 0;
        gap: 10px;
    }
    .teacher-block-info .btn{
        display: none;
    }
}

@media (max-width: 650px){
    .shedule-block h2{
        font-size: 19px;
    }
    .shedule-block table th{
        font-size: 8px;
        hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
    }
    .shedule-block table td{
        font-size: 8px;
        hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
    }
}