.banner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 235px 0 175px;
    position: relative;
    top: -148px;
    left: 0;
}
.banner-info{
    width: max-content;
    padding: 70px 45px 70px 55px;
    background: rgba(250, 250, 250, 0.8);
    border-radius: 10px;
    border-top: 3px solid rgba(255, 255, 255, 0.8);
    border-left: 3px solid  rgba(255, 255, 255, 0.8);
}

.banner-info h2{
    max-width: 440px;
    padding-bottom: 10px;
    border-bottom: 5px solid rgba(244, 171, 30, 1);
}
.banner-info p{
    max-width: 466px;
    margin-top: 15px;
    margin-bottom: 30px;
}

@media (max-width: 620px) {
    .banner{
        padding: 110px 0;
        top: -63px;
    }
    .banner-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 25px 18px;
        border-radius: 6px;
    }
    .banner-info h2{
        font-size: 22px;
        text-align: center;
        line-height: 26px;
        border-bottom: 2.5px solid rgba(244, 171, 30, 1)
    }
    .banner-info p{
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
