.header{
    color: #FAFAFA;
    padding: 20px 0;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.header .container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    position: relative;
}
.header .logo-bl{
    display: none;
}
.header-content{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.header-content .search-form{
    width: 29%;
    min-width: 290px;
    min-width: 200px;
    border-radius: 50px;
    background: rgba(230, 230, 230, 1);
    padding: 10px 20px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
}
.search-form input,
.search-form button{
    background: transparent; 
}
.search-form input{
    width: 90%;
    height: 100%;
    line-height: 22px;
}
.search-form input::placeholder{
    color: rgba(62, 59, 57, 0.5);
}

.header-content .contacts{
    width: 50%;
}
.header-content .socials{
    width: 14%;
    justify-content: flex-end;
}
.header-content .socials a img:last-child{
	display: none;
}
.header-content .nav-menu{
    width: 64%;
}
.header-content .burger-menu{
    width: 1%;
    min-width: 25px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
.burger-menu img:last-of-type{
    display: none;
}
.burger-menu nav{
    display: none;
    width: 185px;
	position: absolute;
	top: 180%;
	left: 0;
	background: rgba(250, 250, 250, 1);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 4px 0px rgba(62, 59, 57, 0.1);
	color: rgba(62, 59, 57, 1);
}
.burger-nav-menu.active{
    display: block;
}
.burger-menu ul li{
	padding: 5px 0;
}
.burger-menu li:hover >a{
	color: rgba(244, 171, 30, 1);
	transition: all 0.5s ease;
}

.header-content .green-btn{
    width: 25%;
}
.green-btn{
    padding: 10px;
    background: rgba(35, 141, 70, 1);
    color: rgba(250, 250, 250, 1);
    border-radius: 50px;
    font-weight: 600;
    white-space: nowrap;
}
.green-btn:hover{
    background: rgba(244, 171, 30, 1);
    transition: background 0.5s ease;
}
.header.white-bg{
    background-color: #FAFAFA;
    transition: all 0.5s ease;
    color: rgba(62, 59, 57, 1);
}
.header.white-bg .logo-wh{
    display: none;
}
.header.white-bg .logo-bl{
    display: block;
}
.header.white-bg .contacts{
    color: rgba(62, 59, 57, 1);
}
.header.white-bg .socials a{
    border: 1.5px solid rgba(62, 59, 57, 0.15);
}
.header.white-bg .socials a:hover{
    background: rgba(62, 59, 57, .1);
}
.header.white-bg .socials svg path{
    fill: rgba(62, 59, 57, 1);
}
.header.mobile-header{
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    transition: background 0.5s ease;
}
.header.mobile-header .container{
    flex-wrap: wrap;
}
.header.mobile-header .header-content{
    width: 100%;
    top: 80px;
    left: 15px;
    flex-direction: column;
    align-items: flex-start;
}
.header.mobile-header .logo-bl{
    display: block;
}
.header.mobile-header .logo-wh{
    display: none;
}
.header.mobile-header .burger-menu img:last-of-type{
    display: block;
}
.header.mobile-header .burger-menu img:first-child{
    display: none;
}
.header.mobile-header .search-form{
    display: block;
    width: 90%;
    min-width: 250px;
    order: 1;
}
.header.mobile-header .green-btn{
    display: block;
    width: 250px;
    order: 2;
}
.header.mobile-header .nav-menu{
    display: block;
    color: rgba(62, 59, 57, 1);
    order: 3;
    width: 100%;
}
.header.mobile-header .nav-menu > ul {
    flex-direction: column;
    width: 100%;
}
.header.mobile-header .nav-menu >ul >li>a{
    position: relative;
    display: block;
    width: 100%;
}
.header.mobile-header .nav-menu .dropdown-arrow{
    transform: rotate(0deg);
}
.header.mobile-header .nav-menu  .dropdown-arrow::after{
    content: '\2515';
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    transform: rotate(-45deg);
    position: absolute;
    top: 2px;
    color: rgba(62, 59, 57, 1);
}
.header.mobile-header .nav-menu .dropdown-menu{
    position: static;
    display: block;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    box-shadow: none;
    padding: 0px 0px 0px 10px;
}
.header.mobile-header .nav-menu .dropdown-menu.drop{
    opacity: 1;
    max-height: max-content;
    transition: all 0.7s ease;
}

.header.mobile-header .contacts{
    display: flex;
    color: rgba(62, 59, 57, 1);
    flex-direction: column;
    order: 4;
}

.header.mobile-header .socials{
    display: flex;
    order: 5;
    justify-content: flex-start;
}
.header.mobile-header .socials a{
    border: 1px solid rgba(62, 59, 57, 0.15); 
}
.header.mobile-header .socials svg path{
    fill: black;
}

@media (max-width: 1150px){
    .header{
        height: 60px;
    }
    .header-content .burger-menu{
        position: absolute;
        top: 20px;
        right: 15px;
        cursor: pointer;
    }
    
    .header .logo{
        width: 97px;
        height: 52px;
    }
    .header .search-form,
    .header .green-btn,
    .header .nav-menu,
    .header .contacts,
    .header .socials{
        display: none;
    } 
}

@media (max-width: 620px){
    .header .contacts{
        gap: 10px;
    }
    .header .nav-menu{
        font-size: 14px;
    }
    
}

