.news{
    padding: 60px 0;
    background: rgba(244, 244, 244, 1);
}

.title-block{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 25px;
}
.news-wrapper{
    display: flex;
    gap: 20px;
}
.news-card{
    width: 32%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease;
    padding: 10px;
}
.news-card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.news-card:hover .read-btn,
.news-card:hover .btn >svg >path{
    color:rgba(244, 171, 30, 1);
    fill: rgba(244, 171, 30, 1);
}
.news-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.news-date{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 23px;
    margin-bottom: 21px;
}
.news-date span{
    font-weight: 500;
    color: rgba(244, 171, 30, 1);
}

.btn.read-btn{
    border: none;
    padding-left: 0;
    margin: auto auto 0 0;
}

.read-btn img{
    margin-left: 5px;
}

@media (max-width: 850px) {
    .news{
        padding: 20px 0 35px;
    }
    .news-wrapper{
        flex-direction: column;
    }
    .news-card{
        width: 100%;
    }
    .title-block {
        margin-bottom: 10px;
    }
    .news-date{
        margin-top: 20px;
    }
    .news-date img{
        width: 16px;
    }
}
