.resources{
    padding: 80px 0 40px;
}
.resources .container{
    position: relative;
}
.resources h2{
    margin-bottom: 30px;
}
.resource-card{
    display: block;
    width: 100%;
    height: 235px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.resource-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.resources .swiper-button-prev,
.resources .swiper-button-next{
    color: rgba(62, 59, 57, 0.5);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(62, 59, 57, 0.5);
    top: 20px;
}
.swiper-button-prev{
    left: 450px;
}
.swiper-button-next{
    left: 520px;
}
.swiper-button-prev:hover,
.swiper-button-next:hover{
    background-color: rgba(235, 235, 235, 1);
    border: none;
}
.swiper-button-next:after,
.swiper-button-prev:after{
   content: '';
   display: block;
   width: 17px;
   height: 15px;
   background-image: url(../assets/icons/nextArrow.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}
.swiper-button-prev:after{
    background-image: url(../assets/icons/prevArrow.png);
}

@media (max-width:620px) {
    .resources{
        padding: 40px 0 20px;
    }
    .swiper-button-prev{
        left: 400px;
    }
    .swiper-button-next{
        left: 480px;
    }
    .resources .container{
        padding-bottom: 65px;
    }
    .resources .swiper-button-prev,
    .resources .swiper-button-next{
        top: auto;
        bottom: 0px;
        width: 44px;
        height: 44px;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after{
        width: 14px;
        height: 13px;
    }
    .swiper-button-prev{
        left:10px;
    }
    .swiper-button-next{
        left: 70px;
    }

    .resources h2{
        margin-bottom: 20px;
    }
    .resource-card{
        height: 116px;
    }
}